<template>
    <v-form ref="session">
        <v-container fluid d-flex justify-center class="secondary--text">

            <v-col lg="6" sm="6" xs="12">
                <v-col cols="12" >
                    <h1>Enter your account information</h1>
                    <v-text-field 
                    v-model="email" 
                    :rules="emailRules" 
                    :type='text' 
                    name="email"
                    label="Email" class="input-group--focused" 
                    required>
                    </v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-text-field v-model="password"
                        :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="passwordRules"
                        :type="show_password ? 'text' : 'password'" 
                        name="password"
                        label="Password" class="input-group--focused"
                        @click:append="show_password = !show_password" 
                        required>
                    </v-text-field>
                    <v-row>
                        <v-btn color="accent1" class="mr-4 outline" outlined block @click="validate">
                            Log in
                        </v-btn>
                    </v-row>
                </v-col>
            </v-col>
        </v-container>
    </v-form>
</template>

<script>

    export default {
        props: [
        'redirect',
        ],
        data: () => {
            return {
                email: '',
                password: '',
                show_password: false,
                passwordRules: [
                    v => !!v || 'Required',
                    v => v.length >= 6 || 'Min 6 characters',
                ],
                emailRules: [
                    v => !!v,
                    v => /.+@.+\..+/.test(v) || 'email must be valid',
                ],
            }
        },

        methods: {
            validate() {
                
                if (this.$refs.session.validate()) {
                let json_data = {'user': {'email': this.email, password: this.password}}
                const self = this
                this.axios.post("/users/sign_in", 
                            json_data )
                    .then(function (response) {
                        this.$store.dispatch('setPageAction', 1)
                        this.$store.dispatch('deleteSelectedIndexAction')
                        self.$store.dispatch('destroyGlobalUserAction', {})
                        self.$store.dispatch('saveGlobalUserAction', response)
                        self.$emit('login', true)
                        if (!self.redirect) self.$router.push({ path: '/home' })
                    })
                    .catch(function (error) {
                        console.log("Dis da error: ");
                        console.log(error);
                        console.log('Error', error.message);
                        // console.log(error.response.data);

                    });
                }
            },
            reset() {
                this.$refs.session.reset()
            },
            resetValidation() {
                this.$refs.session.resetValidation()
            },
        },
    };
</script>