<template>
    <v-form ref="edit_password" @submit="checkform">
        <v-container fluid>
            <v-col>

                <v-col cols="12" sm="6">
                    <h1>Please enter your new password</h1>
                    <v-text-field 
                    v-model="password" 
                    :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="passwordRules" 
                    :type="show_password ? 'text' : 'password'" 
                    name="password"
                    label="Password" class="input-group--focused" 
                    @click:append="show_password = !show_password"
                    required>
                    </v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field v-model="password_confirmation"
                        :append-icon="show_password_confirmation ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[passwordRules, password_confirmation === password || 'Passwords must match' ]"
                        :type="show_password_confirmation ? 'text' : 'password'" 
                        name="password_confirmation"
                        label="Password confirmation" class="input-group--focused"
                        @click:append="show_password_confirmation = !show_password_confirmation" 
                        required>
                    </v-text-field>
                    <v-row>
                        <v-btn color="primary" class="mr-4 outline" outlined block @click="validate">
                            Submit
                        </v-btn>
                    </v-row>
                </v-col>
            </v-col>
        </v-container>
    </v-form>
</template>

<script>
    export default {
        data: () => {
            return {
                password: '',
                password_confirmation: '',
                show_password: false,
                show_password_confirmation: false,
                passwordRules: [
                    v => !!v || 'Required.',
                    v => v.length >= 6 || 'Min 6 characters',
                ],
            }
        },

        methods: {
            validate() {
                this.$refs.edit_password.validate()
            },

            resetX() {
                this.$refs.formX.reset()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
        },
    };
</script>