<template>
<div class="secondary--text" >
    <div>
    <h1>About</h1>
    </div>

    <header>What is it?</header>
    <span>Bettr is goal setting application or something</span>
    </div>
</template>
<script></script>