<template> 
    <div class="secondary--text">
        <div>
        <h1>Contact information</h1>
        </div>
        Want to speak to us? Have something to share? We want to hear about it. You don't even have to call us!
    We have talented and dedicated guest experience agents calling customers around the clock to get their input.
    </div>
</template>
<script></script>