<template>
    <div>
        <v-row no-gutters>
            <v-col secondary--text xs="12" sm="4">
                <div class="text-h4 mb-6 text-center ">{{ globalUser.user.first_name }}</div>
            </v-col>
            <v-col xs="12" sm="4">
                <users :users="followers" :title="'Followers'"></users>
            </v-col>
            <v-col xs="12" sm="4">
                <users :users="following" :title="'Following'"></users>
            </v-col>
        </v-row>
        <v-row no-gutters>
            
                    <v-col cols="12">
                        <v-flex>
                        <div justify-center>
                            <div class="text-h4 mb-6 text-center ">
                                Active Bets
                            </div>
                        </div>
                        </v-flex>
                        </v-col>
                    <v-col cols="12">
                    <v-card class="d-flex flex-row-reverse" color="neutral" flat>
                        <v-chip-group v-model="filter" mandatory dark>
                            <v-chip v-show="tabs == 1" outlined @click="sort('urgent')">Urgent</v-chip>
                            <!-- <v-chip outlined @click="sort('popular')">Popular</v-chip> -->
                            <v-chip outlined @click="sort('newest')">Newest</v-chip>
                            <v-chip outlined @click="sort('alpha')">Alphabetical</v-chip>
                            <v-chip outlined @click="sort('past')">Past</v-chip>
                        </v-chip-group>
                    </v-card>
                    </v-col>
                    <v-col cols="12">
                    <v-tabs
                        v-model="tabs"
                        background-color="transparent"
                        color="accent1"
                        grow
                        center-active
                        centered

                        >
                              <v-tab @click="changeRoute('bets/manage_bets')">Admin</v-tab>
                              <v-tab @click="changeRoute('users/followed_bets')">My Bets</v-tab>
                              <v-tab @click="changeRoute('bets/index')">Other's</v-tab>                        
                        </v-tabs>
                        </v-col>
                
                
                <v-col cols="12">
                <bets :bets="selectedIndex.bets" :user="globalUser.user"></bets>
                <!-- <v-btn v-scroll="onScroll" v-show="scrolled" fab dark fixed bottom color="primary" @click="toTop">
                    <v-icon>keyboard_arrow_up</v-icon>
                </v-btn> -->
                <v-btn v-show="scrolled" fab dark fixed bottom color="primary" @click="toTop">
                    <v-icon>keyboard_arrow_up</v-icon>
                </v-btn>
                </v-col>

        </v-row>
    </div>
</template>

<script>

// import user from "../users/show.vue";
// import bet from "../bets/bet.vue";
import users from "../users/collapsindex.vue";
import bets from "../bets/index.vue";

import debounce from 'lodash/debounce';
export default {
    data: function () {
        return {
            scrollLock: 0,
            filter: null,
            tabs: 1,
            bets: [],
            followers: '',
            following: '',
            scrolled: false,
        }
    },
    computed: {
        params() {
            return {
                user: {
                    id: this.$store.getters.id,
                },
                page: this.page,
                sort: this.$store.getters.sort,
            }
        },
        globalUser() {
            return {
                user: this.$store.getters.globalUser,
            }
        },
        selectedIndex() {
            return {
                bets: this.$store.getters.selectedIndex,
            }
        },
        route() {
            return this.$store.getters.route
        },
        page() {
            return this.$store.getters.page
        },
    },
    methods: {
        resetPage() {
            console.log("resetPage")
            this.$store.dispatch('setPageAction', 1)
            this.$store.dispatch('deleteSelectedIndexAction')
        },
        changeRoute(route) {
            console.log("changeRoute")
            this.$store.dispatch('setRouteAction', route)
            this.scrollLock = 0
            this.resetPage()
            this.loadPage()
        },
        sort(payload) {
            console.log("sort")
            this.$store.dispatch('setSortAction', payload)
            // console.log(JSON.stringify(this.params))
            // start the user off back at the top of the list
            this.scrollLock = 0
            this.resetPage()
            this.loadPage()
        },
        toTop() {
            this.$vuetify.goTo(0)
        },
        handleScroll: function () {
            if ((this.scrollLock == 1 && window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                console.log("handleScroll")
                this.loadPage()
                this.scrolled = true;
            }
        },
        loadPage() {
            let self = this;
            console.log("Params: " + JSON.stringify(this.params))
            console.log("Route " + JSON.stringify(this.route))
            this.axios.post(this.route, this.params)
                .then(function (response) {
                    console.log("followed bets fetched" + JSON.stringify(response.data));
                    self.$store.dispatch('saveSelectedIndexAction', response.data)
                    // self.bets = response.data;
                    let page = self.page
                    console.log("Page before update: " + self.page)
                    self.$store.dispatch('setPageAction', page + 1)
                    console.log("Page after update: " + self.page)
                    self.scrollLock = 1

                })
                .catch(function (error) {
                    console.log('Error', error.message);
                });
        },
        fetchThings() {
            let self = this;
            this.axios.get("user", this.params)
                .then(function (response) {
                    self.$store.dispatch('saveGlobalUserAction', response)
                })
                .catch(function (error) {
                    console.log('Error', error.message);
                });
            this.axios.post("/followers", this.params)
                .then(function (response) {
                    self.followers = response.data;

                })
                .catch(function (error) {
                    console.log('Error', error.message);
                });
            this.axios.post("/following", this.params)
                .then(function (response) {
                    // console.log(response.data);
                    self.following = response.data;

                })
                .catch(function (error) {
                    console.log('Error', error.message);
                });
        }
    },
    created() {
        this.fetchThings()
        this.resetPage()
        this.loadPage()
        // this.params.page++;
        this.handleDebouncedScroll = debounce(this.handleScroll, 100);
        window.addEventListener('scroll', this.handleDebouncedScroll);
    },
    beforeDestroy() {
        window.removeEventListener('scroll', this.handleDebouncedScroll);
    },
    components: {
        // user: user,
        users: users,
        bets: bets,
    }
}
</script>