<template> 
    <v-col d-flex class="secondary--text">
        <div justify-center>
            <div class="text-h4 mb-6 text-center ">
                Options
            </div>
            <v-divider></v-divider>
        <v-list
        class="neutral">

        <template v-if='params.user.id'>
          <v-list-item
            @click="edit_password"
            
          >
            <v-list-item-action>
              <v-icon color="accent1"> settings </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Edit password
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            @click="logout"
            
          >
            <v-list-item-action>
              <v-icon color="accent1"> logout </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Log-out
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          </template>
          <template v-if='!params.user.id'>
          <v-list-item
            @click="login"
            
          >
            <v-list-item-action>
              <v-icon color="accent1"> login </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Log-in
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            @click="signup"
            
          >
            <v-list-item-action>
              <v-icon color="accent1"> settings </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Sign-up
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          </template>
        </v-list>
        </div>
    </v-col>
</template>
<script>
  export default {
    computed: {
      params () {
          return {
              user: {
                  id: this.$store.getters.id,
              }      
          }
      },
    },
  }
</script>