<template>
    <v-col d-flex class="secondary--text">
        <div justify-center>
            <div class="text-h4 mb-6 text-center ">
                Users
            </div>
            <v-divider></v-divider>
            <users :users="users"></users>
            <v-btn v-scroll="onScroll" v-show="scrolled" fab dark fixed bottom color="primary" @click="toTop">
                <v-icon>keyboard_arrow_up</v-icon>
            </v-btn>
        </div>
    </v-col>
</template>

<script>
import users from "./index.vue";
import debounce from 'lodash/debounce';

  export default {
    data: function () {
        return {
            users: [],
            scrolled: false,
        }
    },
    computed: {
        params () {
            return {
                page: 1     
            }
        },
    },
        methods: {
        toTop() {
            this.$vuetify.goTo(0)
        },
        handleScroll: function() {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                this.loadNextPage()
                this.scrolled = true;
            }
        },
        loadNextPage() {
            this.loadPage();
            this.params.page++;
        },
        loadPage() {
            let self = this;
            this.axios.post("users/index", this.params)
                .then(function (response) {
                    console.log(response.data);
                    self.users.push.apply(self.users, response.data);

                })
                .catch(function (error) {
                    console.log('Error', error.message);
                });  
        }
    },
    created() {
        this.loadPage()
        this.params.page++;
        this.handleDebouncedScroll = debounce(this.handleScroll, 100);
        window.addEventListener('scroll', this.handleDebouncedScroll);

    },
    beforeDestroy() {
        window.removeEventListener('scroll', this.handleDebouncedScroll);
    },
    // created() {
    //         // let params = {id: this.id}
    //         let self = this;

    //         this.axios.get("users")
    //             .then(function (response) {
    //                 console.log(response.data);
    //                 self.users = response.data;

    //             })
    //             .catch(function (error) {
    //                 console.log('Error', error.message);
    //             });  
    // },
    components: {
        users: users,
    }
  }
</script>