<template>
    <v-col>
        <v-card flat>
            <v-list two-line class="neutral">
                <user v-for="user in users" :user="user" :key="user.id">
                </user>
            </v-list>
        </v-card>
    </v-col>
</template>

<script>

import user from "./user.vue";
  export default {
    props: [
      'users',
    ],
    data () {
      return {
      }
    },
    components: {
        user: user,
    }

  }
</script>