<template>
  <div id="user">
    <v-row fluid v-if="globalUser.id != '' && globalUser.id === params.id" >
        <v-col sm="12" align="center" justify="left">
          <!-- <v-avatar
            class="profile"
            size="164"
            tile
            >
                <img
                v-bind:src="user.avatar"
                >
            </v-avatar> -->
            <div class="text-h4 mb-6 text-center ">{{ user.first_name }}</div>
      </v-col>
    </v-row>
      <v-row fluid v-else>
      <v-col sm="7" align="center" justify="left">
        <!-- <v-avatar
            class="profile"
            size="164"
            tile
            >
                <img
                v-bind:src="user.avatar"
                >
            </v-avatar> -->
        <div class="text-h4 mb-6 text-center ">{{ user.first_name }}</div>
      </v-col>
      <v-col cols="12" sm="3">
        <v-container fill-height fluid>
          <v-row align="center" justify="left">
            <v-col>
              <template v-if="following">
                <v-btn block @click="unfollow">Unfollow</v-btn>
              </template>
              <template v-else>
                <v-btn block @click="follow">Follow</v-btn>
              </template>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import bets from "../bets/index.vue";

export default {
    data: () => ({
      following: false,
    }),
    props: [
        'user',
        // 'bets',
    ],
    computed: {
        globalUser () {
            return {
                id: this.$store.getters.id,
            }

        },
        params () {
          return {
              id: this.user.id 
          }
        },
    },
    // components: {
    //     bets: bets,

    // },
    methods: {
      follow() {this.APIcall("followUser")},
      unfollow() {this.APIcall("unfollowUser")},
      checkIfFollowing() {this.APIcall("checkIfFollowingUser")},
      APIcall(route) {
          // if (this.$refs.user.validate()) {
          console.log("Params Z: ")
          console.log(this.params)
          const self = this
          this.axios.post(route, this.params, {
                  headers: {
                      // "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                      "Content-Type": "application/json",
                  }
              })
              .then(function (response) {
                  console.log(response.data);
                  if(route == "checkIfFollowingUser") {

                    self.following = response.data;
                  }
                  else {
                    self.checkIfFollowing();
                  }
              })
              .catch(function (error) {
                  console.log(error.error);
                  console.log('Error', error.message);
              });
          // }
      }
    },
    created() {
      this.checkIfFollowing()
    },
  }

</script>