<template>
  <v-card flat hover @click="open" :key="user.id" class="neutral">
    <v-list-item flat class="neutral">

      <v-list-item-content>
        <v-list-item-title v-text="user.first_name" class="text-h6 mb-6 text-center accent2--text "></v-list-item-title>
        <v-list-item-subtitle v-text="user.email" class="text-subtitle-2 mb-6 text-center secondary--text">
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>

  </v-card>
</template>

<script>


  export default {
    data () {
      return {

      }
    },
  methods: {
    open: function () {
      this.$router.push({ path: '/user/show/', query: this.user})

    }
  },
    props: [
      'user',
    ],

  }
</script>