<template>
<div>
  {{ }}
  <!-- <template v-if="this.$vuetify.breakpoint.mdAndUp"> -->
    <v-footer 
    app
    padless
    fixed
    inset
    color="neutral">
      
      <v-spacer></v-spacer>
      <div class="text-caption mb-7 text-center"> Bettr &copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  <!-- </template> -->
  <template v-if="!this.$vuetify.breakpoint.mdAndUp">
    <v-bottom-navigation
      v-model="value"
      :background-color="color"
      dark
      app
      fixed
      shift
    >
      <v-btn to='/bet/new'>
        <span>Make bet</span>
        <v-icon>add</v-icon>
      </v-btn>
      <!-- <v-btn to="/bets">
        <span>Find bets</span>
        <v-icon>touch_app</v-icon>
      </v-btn> -->
      <v-btn to='/home'>
        <span>Your bets</span>
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn to='/users'>
        <span>Users</span>
        <v-icon>person</v-icon>
      </v-btn>
      <v-btn to='/options'>
        <span>Options</span>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>

    </v-bottom-navigation>
  </template>

  </div>
</template>

<script>
</script>