<template>
<div>
<v-app-bar
      v-if="this.$vuetify.breakpoint.mdAndUp"
      app
      clipped-left
      absolute
      color="primary"
      dark
    
    >


    
      <v-app-bar-nav-icon color="accent1" >  
        <v-img
          class="mx-2"
          src="https://i.imgur.com/TMXEkt0.png" 
          max-height="40"
          max-width="40"
          contain
        ></v-img>
  </v-app-bar-nav-icon>
      <v-app-bar-title class="secondary--text">bettr</v-app-bar-title>
      <v-spacer></v-spacer>
      <!-- <v-text-field
        solo-inverted
        flat
        hide-details
        label="Search"
        prepend-inner-icon="search"
      ></v-text-field> -->

      <v-spacer></v-spacer>
      <v-btn icon  to='/bet/new'>
        <v-icon>add</v-icon>
      </v-btn>
      <!-- <v-btn icon to="/bets">
        <v-icon>touch_app</v-icon>
      </v-btn> -->
      <v-btn icon to='/home'>
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn icon to='/users'>
        <v-icon>person</v-icon>
      </v-btn>
      
      <v-menu
        open-on-hover
        bottom
        offset-y
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            dark
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list dense
        class="primary">

        <template v-if='params.user.id'>
          <v-list-item
            @click="edit_password"
            
          >
            <v-list-item-action>
              <v-icon color="accent1"> settings </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Edit password
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            @click="logout"
            
          >
            <v-list-item-action>
              <v-icon color="accent1"> logout </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Log-out
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          </template>
          <template v-if='!params.user.id'>
          <v-list-item
            @click="login"
            
          >
            <v-list-item-action>
              <v-icon color="accent1"> login </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Log-in
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            @click="signup"
            
          >
            <v-list-item-action>
              <v-icon color="accent1"> settings </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Sign-up
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          </template>
        </v-list>
      </v-menu>
      <!-- <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn> -->
    </v-app-bar>


    </div>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
    }),
    computed: {
      params () {
          return {
              user: {
                  id: this.$store.getters.id,
              }      
          }
      },
    },
    methods: {
      logout () {
        const self = this
        this.axios.delete("users/sign_out", {
                headers: {
                    // "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                self.$store.dispatch('destroyGlobalUserAction', {})
                self.$router.push({ path: '/login' })
            })
            .catch(function (error) {
                console.log("Dis da error: ");
                console.log(error.error);
                console.log('Error', error.message);
                
                console.log(error.response.data);
                self.$store.dispatch('destroyGlobalUserAction', {})
                self.$router.push({ path: '/login' })

            });
      },
      login () {
        this.$router.push({ path: '/login' })
      },
      signup () {
        this.$router.push({ path: '/signup' })
      },
      edit_password () {
        this.$router.push({ path: '/user/edit' })
      }
    }
  }
</script>

<style>
#keep .v-navigation-drawer__border {
  display: none
}
</style>