

<template>
    <v-form ref="new_user">
        <v-container fluid>
           
            <v-col cols="12" sm="6">
                <h1>Create your account</h1>
                <v-text-field 
                v-model="name" 
                :rules="nameRules" 
                :type='text' 
                name="name"
                label="Name" class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
                <v-text-field 
                v-model="email" 
                :rules="emailRules" 
                :type='text' 
                name="email"
                label="Email" class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
                <v-text-field v-model="password"
                    :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="passwordRules"
                    :type="show_password ? 'text' : 'password'" 
                    name="password"
                    label="Password" class="input-group--focused"
                    @click:append="show_password = !show_password" 
                    required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
                <v-text-field v-model="password_confirmation"
                    :append-icon="show_password_confirmation ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[passwordRules, password_confirmation === password || 'Password confirmation and password must match']"
                    :type="show_password_confirmation ? 'text' : 'password'" 
                    name="password_confirmation"
                    label="Password Confirmation" class="input-group--focused"
                    @click:append="show_password_confirmation = !show_password_confirmation" 
                    required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
                    <v-btn color="accent1" class="mr-4 outline" outlined @click="validate">
                        Create account
                    </v-btn>
            </v-col>

        </v-container>
    </v-form>
</template>

<script>

    export default {
        data: () => {
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                show_password: false,
                show_password_confirmation: false,
                nameRules: [
                    v => !!v || 'Required',
                ],
                passwordRules: [
                    v => !!v || 'Required',
                    v => v.length >= 8 || 'Min 8 characters',
                ],
                emailRules: [
                    v => !!v || 'Required',
                    v => /.+@.+\..+/.test(v) || 'email must be valid',
                ],
            }
        },

        methods: {
            validate() {
                if (this.$refs.new_user.validate()) {
                let json_data = {
                    name: this.name, 
                    email: this.email, 
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                    remember_me: 1}
                const self = this
                this.axios.post("create account", json_data, {
                        headers: {
                            "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                            "Content-Type": "application/json",
                        }
                    })
                    .then(function (response) {
                        console.log(response);
                        console.log("sall good");

                        self.$router.push({ path: '/home' })
                    })
                    .catch(function (error) {
                        console.log("Dis da error: ");
                        console.log(error.error);
                        console.log('Error', error.message);
                        console.log('Error', error.message);
                        console.log(error.response.data);

                    });
                }
            },
            reset() {
                this.$refs.session.reset()
            },
            resetValidation() {
                this.$refs.session.resetValidation()
            },
        },
    };

    
</script>