<template>

    <v-app >
    <bheader/>

      <application/>

      
      <bfooter/>
     
    </v-app>

</template>

<script>
import application from "./components/layouts/application.vue";
import bheader from "./components/layouts/header.vue";
import bfooter from "./components/layouts/footer.vue";

export default {
  name: 'App',
  data: function() {
    return {
      message: "Vuetify test"
    };
  },

  components: {
    application: application,
    bheader: bheader,
    bfooter: bfooter
  }
};
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>