<template>

  <v-expansion-panel :key="bet.id + bet.title">
    <v-expansion-panel-header hide-actions>
      <v-card flat>
        <!-- <v-container fluid> -->
          <v-row align="center" no-gutters>
            <v-col cols="12" sm='12' md='7'>
              <v-card class="d-flex flex-column justify-space-between fill-height" flat>

                <v-card class="d-flex  justify-center" flat>
                  <p class="text-h6 secondary--text">{{ bet.title }}</p>

                </v-card>

                <v-card class="d-flex  justify-center " flat>
                  <p class="text-subtitle-1 secondary--text">
                    {{ bet.verb }} {{bet.benchmark}} <template v-if="bet. more_or_less == 1">or more </template>
                    <template v-else-if="bet. more_or_less == -1">or less</template>
                    {{ bet.unit }} {{ periodText }}
                    until {{bet.date_end | formatDate }}
                  </p>

                </v-card>
                <v-card class="d-flex justify-center" flat>
                  <div class="inline">
                    <p class="text-subtitle-1 secondary--text">Days of the week:

                      <v-icon :color="mon">mdi-alpha-m-circle</v-icon>
                      <v-icon :color="tue">mdi-alpha-t-circle</v-icon>
                      <v-icon :color="wed">mdi-alpha-w-circle</v-icon>
                      <v-icon :color="thu">mdi-alpha-t-circle</v-icon>
                      <v-icon :color="fri">mdi-alpha-f-circle</v-icon>
                      <v-icon :color="sat">mdi-alpha-s-circle</v-icon>
                      <v-icon :color="sun">mdi-alpha-s-circle</v-icon>
                    </p>
                  </div>
                </v-card>

              </v-card>
            </v-col>
            <template v-if="bet.outcome == '0'">
            <v-col xs='12' md='5'>

              <!-- <v-card class="d-flex justify-space-between fill-height" flat> -->
              <!-- <v-container fluid> -->

              <v-row no-gutters>

                <v-col xs="4" md="4">
                  <v-card d-flex flex-column justify-space-between fill-height flat>
                    <v-card class="d-flex  justify-center " flat>
                      <p class="text-subtitle-2 text-center secondary--text">Time remaining:</p>
                    </v-card>
                    <v-card class="d-flex  justify-center " flat>
                      <v-progress-circular :rotate="270" :size="circleSize" :width="5"
                        :value="virtualContract.timePercent" :color="timeColour">
                        {{virtualContract.timeLeft}}
                      </v-progress-circular>
                    </v-card>
                  </v-card>
                </v-col>

                <v-col xs="4" md="4">
                  <v-card d-flex flex-column justify-space-between fill-height flat>
                    <v-card class="d-flex  justify-center " flat>
                      <p class="text-subtitle-2 text-center secondary--text">{{progressText}}</p>
                    </v-card>
                    <v-card class="d-flex  justify-center " flat>
                      <v-progress-circular :rotate="270" :size="circleSize" :width="5"
                        :value="virtualContract.percentProgress" :color="periodProgressColour">
                        <template v-if="virtualContract.percentProgress > 100">
                          100%
                        </template>
                        <template v-else>
                          {{virtualContract.percentProgress}}%
                        </template>

                      </v-progress-circular>
                    </v-card>
                  </v-card>
                </v-col>
                
                <v-col xs="4" md="4">
                  <v-card d-flex flex-column justify-space-between fill-height flat>
                    <v-card class="d-flex  justify-center " flat>
                      <p class="text-subtitle-2 text-center secondary--text">Total progress:</p>
                    </v-card>
                    <v-card class="d-flex  justify-center " flat>
                      <v-progress-circular :rotate="270" :size="circleSize" :width="5"
                        :value="virtualContract.totalProgress" :color="totalProgressColour">
                        <template v-if="virtualContract.totalProgress > 100">
                          100%
                        </template>
                        <template v-else>
                          {{virtualContract.percentProgress}}%
                        </template>
                      </v-progress-circular>
                    </v-card>
                  </v-card>
                </v-col>
              
              </v-row>

            <!-- </v-container> -->
              <!-- </v-card> -->
            </v-col>
            </template>
            <template v-else-if="bet.outcome =='1'">
            <v-col xs='12' md='5'>
              <v-card>
                <p class="text-h6 secondary--text">Bet completed!</p>
                
              </v-card>
            </v-col>
            </template>
            <template v-else-if="bet.outcome <= '-1'">
            <v-col xs='12' md='5'>
              <v-card>
                <p class="text-h6 secondary--text">Bet failed: {{bet.outcome * -1}}</p>
                
              </v-card>
            </v-col>
            </template>
            <template v-else>
            <v-col xs='12' md='5'>
              <v-card>
                <v-btn color="blue" @click.native.stop="followBet" outlined block>
                  Follow bet
                </v-btn>
              </v-card>
            </v-col>
            </template>
          </v-row>
          <!-- <v-divider></v-divider> -->
        <!-- </v-container> -->
      </v-card>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-row>
        <template v-if="bet.outcome == '0' || bet.outcome =='1'">
          <contract :bet="bet" :user="user" @updated="updatedContract"></contract>
        </template>
        <template v-else-if="bet.user_id == user.id">
          <!-- "owned by user" {{globalUser.user.id}} -->
          <v-col cols="12">
            <v-dialog v-model="deleteBetDialog" width="500">
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="red" v-bind="attrs" v-on="on" outlined block>
                  Delete bet
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="text-h5 primary">
                  Delete bet
                </v-card-title>

                <v-card-text>
                  Once this bet is deleted, all contracts associated with it, including those of other users, will also
                  be deleted.
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="accent1" text outlined @click.native.stop="deleteBetDialog = false">
                    Cancel
                  </v-btn>
                  <v-btn color="accent1" text outlined @click.native.stop="deleteBet">
                    Delete bet
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-col>
          <v-col cols="12">

            <template>
              <v-btn color="blue" @click.native.stop="followBet" outlined block>
                Follow bet
              </v-btn>
            </template>

          </v-col>
        </template>
        <template v-else>
          <v-col cols="12">

            <template>
              <v-btn color="blue" @click.native.stop="followBet" outlined block>
                Follow bet
              </v-btn>
            </template>

          </v-col>
        </template>
      </v-row>
    </v-expansion-panel-content>
  </v-expansion-panel>

</template>
<script>
  import contract from "./contract.vue"
  export default {
        props: [
            'bet',
            'user',
        ],
    data: () => ({
      deleteContractDialog: false,
      deleteBetDialog: false,
      drawer: null,
    }),
    components: {
        contract: contract
    },
    computed:{
        circleSize () {
          switch (this.$vuetify.breakpoint.name) {
            case 'xs': return 60
            case 'sm': return 70
            case 'md': return 100
            case 'lg': return 100
            case 'xl': return 120
          }
          return 100
        },
        params () {
            return {
                followed_bet_id: this.bet.id,
                id: this.bet.id
            }
        },
        globalUser () {
            return {
                user: this.$store.getters.globalUser,
            }
        },
        sun: function() {
            if(this.bet.sun == 1) return "green"
            if(this.bet.sun == 3) return "yellow"
            if(this.bet.sun == -1) return "red"
            else return "white"
        },
        mon: function() {
            if(this.bet.mon == 1) return "green"
            if(this.bet.mon == 3) return "yellow"
            if(this.bet.mon == -1) return "red"
            else return "white"
        },
        tue: function() {
            if(this.bet.tue == 1) return "green"
            if(this.bet.tue == 3) return "yellow"
            if(this.bet.tue == -1) return "red"
            else return "white"
        },
        wed () {
            if(this.bet.wed == 1) return "green"
            if(this.bet.wed == 3) return "yellow"
            if(this.bet.wed == -1) return "red"
            else return "white"
        },
        thu: function() {
            if(this.bet.thu == 1) return "green"
            if(this.bet.thu == 3) return "yellow"
            if(this.bet.thu == -1) return "red"
            else return "white"
        },
        fri: function() {
            if(this.bet.fri == 1) return "green"
            if(this.bet.fri == 3) return "yellow"
            if(this.bet.fri == -1) return "red"
            else return "white"
        },
        sat: function() {
          
            if(this.bet.sat == 1) return "green"
            if(this.bet.sat == 3) return "yellow"
            if(this.bet.sat == -1) return "red"
            else return "white"
        },
      periodText(){
        if (this.bet.period <= 7) return this.bet.period + " days a week"
        if (this.bet.period == 8) return "every week"
        if (this.bet.period == 14) return "biweekly"
        if (this.bet.period == 28) return "every month"
        return "Nothing"
      },
      progressText(){
        if (this.bet.period <= 7) return "Progress today:"
        if (this.bet.period == 8) return "Progress this week:"
        if (this.bet.period == 14) return "Two week progress:"
        if (this.bet.period == 28) return "Progress this month:"
        return "Nothing"
      },
        virtualContract () {
          // console.log("typeof this.bet.date_end")

            return {
                progress: this.bet.progress,
                mulligan: this.bet.mulligan,
                percentMulligan:this.bet.mulligan / this.bet.allowed_mulligans * 100,
                percentProgress: (this.bet.more_or_less >= 0) ? Math.floor(this.bet.progress_for_day  * 100 )/ this.bet.benchmark : Math.floor(this.bet.benchmark * 100/ this.bet.progress_for_day),
                totalProgress: (this.bet.more_or_less >= 0) ? Math.floor(this.bet.progress * 100/ (this.bet.benchmark * this.bet.num_of_periods * this.bet.period)): Math.floor((this.bet.benchmark * 100 * this.bet.num_of_periods * this.bet.period) / this.bet.progress_for_period* this.bet.num_of_periods),
                timeLeft: this.timeLeft,
                timePercent: this.timePercent
                
            }
        },
        timeLeft () {
            let deadline = new Date();
            let current = new Date().getTime()
            if (this.bet.time_of_day.toString().length == 4) {
              deadline.setHours( this.bet.time_of_day.toString().slice(0, 2) );
              deadline.setMinutes( this.bet.time_of_day.toString().slice(3, 5) );
            }
            else {
              deadline.setHours( this.bet.time_of_day.toString().slice(0, 1) );
              deadline.setMinutes( this.bet.time_of_day.toString().slice(2, 4) );
            }
            deadline.setSeconds( 0 );
            deadline.setMilliseconds( 0 );
          // let days = Math.floor(( deadline.getTime() - current ) / 1000 / 60 / 60 / 24)
          // let hours = Math.floor( (( deadline.getTime() - current ) / 1000 / 60 / 60)  - days * 60 * 24)
          // let minutes = Math.floor( (( deadline.getTime() - current ) / 1000 / 60) - hours * 60 )
          // get total seconds between the times
          var delta = Math.abs(deadline.getTime() - current) / 1000;

          // calculate (and subtract) whole days
          var days = Math.floor(delta / 86400);
          delta -= days * 86400;

          // calculate (and subtract) whole hours
          var hours = Math.floor(delta / 3600) % 24;
          delta -= hours * 3600;

          // calculate (and subtract) whole minutes
          var minutes = Math.floor(delta / 60) % 60;
          delta -= minutes * 60;

          // what's left is seconds
          // var seconds = delta % 60;  // in theory the modulus is not required

          if ((deadline.getTime() - current) < 0) return "Passed"
          if (days < 1) return hours.toString() + "h" + minutes.toString() + "m"
          return days.toString() + "d" + hours.toString() + "h" + minutes.toString() + "m"
        },
        timePercent () {
            let deadline = new Date();
            // console.log("Length: " + this.bet.time_of_day.toString().length + " Bet: " + this.bet.title + " Hour: " + this.bet.time_of_day.toString().slice(0, 2) + " Minutes: " + this.bet.time_of_day.toString().slice(3, 5))
            if (this.bet.time_of_day.toString().length == 4) {
              deadline.setHours( this.bet.time_of_day.toString().slice(0, 2) );
              deadline.setMinutes( this.bet.time_of_day.toString().slice(3, 5) );
            }
            else {
              deadline.setHours( this.bet.time_of_day.toString().slice(0, 1) );
              deadline.setMinutes( this.bet.time_of_day.toString().slice(2, 4) );
            }
            deadline.setSeconds( 0 );
            deadline.setMilliseconds( 0 )
            // console.log("time percent: " + Math.floor(( deadline.getTime() - new Date().getTime() ) / 864000))
            return Math.floor(( deadline.getTime() - new Date().getTime() ) / 864000)
        },
        timeColour () {
            if (this.virtualContract.percentProgress >= 70) return "blue"
            if (this.timePercent >= 34) return "green"
            if (this.timePercent >= 20)return "yellow"
            else return "red"
        },
        periodProgressColour() {
            if (this.virtualContract.percentProgress >= 100) return "green"
            else return "blue"
        }
        ,
        totalProgressColour() {
            if (this.virtualContract.totalProgress >= 100) return "green"
            else return "blue"
        }
    },
    methods: {
        followBet() {
            console.log("Params X: ")
            console.log(this.params)
            const self = this
            this.axios.post("followBet", this.params)
                .then(function (response) {
                    console.log(response.data);
                    self.$store.dispatch('deleteBetAction', self.bet)

                })
                .catch(function (error) {
                    console.log('Error', error.message);

                });
        },
        deleteBet() {
            console.log("Params X: ")
            console.log(this.params)
            const self = this
            this.axios.post("unfollowBet", this.params)
                .then(function (response) {
                    console.log(response.data);
                    self.$store.dispatch('deleteBetAction', self.bet)

                })
                .catch(function (error) {
                    console.log('Error', error.message);

                });
        },
        updatedContract(contract) {
          this.bet.sat = 'false'
        console.log("triggered the emit event")
        console.log("wed: " + contract.wed)
          this.bet.sun = (contract.sun == 'true') ? true : false
          this.bet.mon = (contract.mon == 'true') ? true : false
          this.bet.tue = (contract.tue == 'true') ? true : false
          this.bet.wed = (contract.wed == 'true') ? true : false
          this.bet.thu = (contract.thu == 'true') ? true : false
          this.bet.fri = (contract.fri == 'true') ? true : false
          this.bet.sat = (contract.sat == 'true') ? true : false
          // this.$forceUpdate()
      },
    open: function (event) {
      console.log(event)
      this.$store.dispatch('saveSelectedIdAction', this.bet.id)
      this.$router.push({ path: '/bet/show/', query: {bet: JSON.stringify( this.bet), user: this.user}})
      // router.push({ path: '/bet/show/', query: {bet: this.bet, user: this.user}})

    }
  },
}
</script>
<style>
</style>