<template>
<div>
  <v-row justify="space-around">
    <v-col cols="auto">
      <v-dialog
        v-model="loginDialog"
      >
        <template v-slot:default="dialog">
          <v-card>
            <login :redirect="false" @login="loginSuccess"></login>
            <v-card-actions class="justify-end">
              <v-btn
                text
                @click="dialog.value = false"
              >Close</v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
    </v-col>
  </v-row>
    <v-alert
      v-model="success"
      dismissible
      color="green"
      border="left"
      elevation="2"
      colored-border
      icon="mdi-check"
     
    >
       <div class="hover" @click="open">successfully created <strong>{{ returnedBet.title }}</strong> </div> 
    </v-alert>
  <v-card outlined color="neutral">
    <v-card flat color="neutral">
    <v-card-title >
      <div :class="{ 'accent1--text': h.title }" class="inline">{{ bet.title }}</div>
    </v-card-title>
    <!--<v-card-subtitle>{{ bet.user.name }}</v-card-subtitle>-->
    <v-card-text >
      <div :class="{ 'accent1--text': h.verb }" class="inline">{{ bet.verb }}</div> <div :class="{ 'accent1--text': h.benchmark }" class="inline">{{ bet.benchmark }}</div>
      &nbsp;<div :class="{ 'accent1--text': h. more_or_less }" class="inline"><template v-if="bet. more_or_less == 1"> or more </template>
      &nbsp;<template v-else-if="bet. more_or_less == -1">or less</template></div>
      &nbsp;<div :class="{ 'accent1--text': h.unit }" class="inline"> {{ bet.unit }} </div>
      &nbsp;<div :class="{ 'accent1--text': h.period }" class="inline">{{ periodSelectVals[bet.period - 1].name }}</div>
      <br>
      Start Date: <div :class="{ 'accent1--text': h.date_start }" class="inline">{{ bet.date_start  | formatDate }}</div>
      End Date: <div :class="{ 'accent1--text': h.date_end }" class="inline">{{ bet.date_end  | formatDate }}</div>
      <br>
      Time of day: <div :class="{ 'accent1--text': h.time }" class="inline">{{ bet.time }}</div>
      <br>

        <!-- <div :class="{ 'accent1--text': h.mulligan }" class="inline">Allowed mulligans: {{bet.mulligan  }}</div>
        &nbsp;<div :class="{ 'accent1--text': h.mulliganPeriod }" class="inline">{{ periodSelectVals[bet.mulliganPeriod - 1].name }}</div> -->
    </v-card-text>
</v-card>
<v-form ref="user">
        <v-container fluid>
           <v-row >
            <v-col cols="12" sm="12"
            @mouseover="h.title = true"
                @mouseleave="h.title = false">
                
                <v-text-field 
                color="accent1"
                v-model="bet.title" 
                dark
                :rules=textRules
                name="title"
                label="Give your bet a title" class="input-group--focused" 
                required>
                </v-text-field>
                
            </v-col>
            </v-row>
            <v-row align="center"
      justify="center">
            <v-col cols="12" sm="1" 
            
                @mouseover="h.verb = true"
                @mouseleave="h.verb = false">
                
                <v-text-field
                v-model="bet.verb" 
                dark
                :rules=textRules
                name="verb"
                class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="1"
                
                @mouseover="h.benchmark = true"
                @mouseleave="h.benchmark = false">

                <v-text-field 
                v-model="bet.benchmark" 
                dark
                :rules=benchmarkRules
                name="benchmark"
                class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="2"
                @mouseover="h. more_or_less = true"
                @mouseleave="h. more_or_less = false">
                <v-select 
                v-model="bet. more_or_less" 
                dark
                :items="lessOrMoreSelectVals"
                name=" more_or_less"
                
                class="input-group--focused" 
                item-text="name"
                item-value="id"
                required>
                </v-select>
            </v-col>
            <v-col cols="12" sm="1"
                @mouseover="h.unit = true"
                @mouseleave="h.unit = false">
                <v-text-field 
                v-model="bet.unit" 
                dark
                :rules=textRules
                name="unit"
                class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="2"
                @mouseover="h.period = true"
                @mouseleave="h.period = false">
                <v-select 
                v-model="bet.period" 
                dark
                :items="periodSelectVals"
                name="period"
                class="input-group--focused" 
                item-text="name"
                item-value="id"
                required>
                </v-select>
            </v-col>
            <v-col cols="12" sm="1" ><v-row align="center"
      justify="center" >between</v-row></v-col>
            <v-col cols="12" sm="2" @mouseover="h.date_start = true"
                @mouseleave="h.date_start = false">
                      <v-menu v-model="menuDateStart" :close-on-content-click="false" :nudge-right="40"
                      transition="scale-transition" offset-y min-width="290px"
                      >
                          <template v-slot:activator="{ on, attrs }">
                              <v-text-field dark v-model="bet.date_start" prepend-icon="mdi-calendar"
                                  readonly v-bind="attrs" v-on="on"></v-text-field>
                          </template>
                          <v-date-picker show-adjacent-months header-color="primary" color="accent1" v-model="bet.date_start" @input="menuDateStart = false"></v-date-picker>
                      </v-menu>
            </v-col>
            <v-col cols="12" sm="1"><v-row align="center"
      justify="center" >and</v-row></v-col>
                <v-col cols="12" sm="2" 
                @mouseover="h.date_end = true"
                @mouseleave="h.date_end = false"> 
                    <v-menu v-model="menuDateEnd" :close-on-content-click="false" :nudge-right="40"
                          transition="scale-transition" offset-y min-width="290px">
                          <template v-slot:activator="{ on, attrs }">
                              <v-text-field dark v-model="bet.date_end" prepend-icon="mdi-calendar"
                                  readonly v-bind="attrs" v-on="on"></v-text-field>
                          </template>
                          <v-date-picker :min="endDateMin" show-adjacent-months header-color="primary" color="accent1" v-model="bet.date_end" @input="menuDateEnd = false"></v-date-picker>
                      </v-menu>

            </v-col>
            </v-row>

            <!-- <v-row align="center"
      justify="center">
                <v-col cols="12" sm="10"
                @mouseover="h.mulligan = true"
                @mouseleave="h.mulligan = false">
                    <v-text-field 
                    v-model="bet.mulligan" 
                    name="mulligan"
                    label="How many mulligans would you like?"
                    class="input-group--focused" 
                    required>
                    </v-text-field>
                </v-col>

                <v-col cols="12" sm="2"
                @mouseover="h.mulliganPeriod = true"
                @mouseleave="h.mulliganPeriod = false">
                    <v-select 
                    v-model="bet.mulliganPeriod" 
                    :items="periodSelectVals"
                    name="period"
                    class="input-group--focused" 
                    item-text="name"
                    item-value="id"
                    required>
                    </v-select>
                </v-col>
            </v-row> -->

            <v-row align="center"
            justify="center">

            <v-col cols="12" sm="12"
                @mouseover="h.time = true"
                @mouseleave="h.time = false">
                <v-text-field 
                dark
                :rules="timeRules"
                v-model="bet.time"
                label="Daily deadline (HHMM)"
                name="time"
                class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>
            </v-row>
            <v-row>
            <v-col cols="12" sm="12">
                <v-btn color="accent1" 
                class="mr-4 outline" 
                outlined 
                block 
                @click="validate">
                    Submit bet
                </v-btn>

            </v-col>
            </v-row>
        </v-container>
    </v-form>
<v-card>
</v-card>
  </v-card>
</div>
</template>
<script>
  import loginOverlay from "../sessions/new.vue";

  export default {

    data: () => ({
        textRules: [
            v => !!v || 'Required',
            v => v.length <= 140 || 'Max 140 characters',
        ],
        benchmarkRules: [
            v => !!v || 'Required',
            v => Number.isInteger(Number(v)) || "The value must be an integer number",
            v => Number(v) > -1000 || 'Benchmark metric must be between -1000 and 1000',
            v => Number(v) < 1000 || 'Benchmark metric must be between -1000 and 1000',
        ],
        timeRules: [
            v => !!v || 'Required',
            v => !!v || 'Required',
            v => Number.isInteger(Number(v)) || "The value must be an integer number",
            v => v.length == 4 || 'Enter a deadline in 24 hour format (HHMM)',
            v => Number(v) >= 0 || 'Daily deadline metric must be between 0000 and 2359',
            v => Number(v) <= 2359 || 'Daily deadline metric must be between 0000 and 2359',
        ],
        success: false,
        loginDialog: false,
        menu2: false,
        today: new Date(),
        bet: {
            title: "An example of a bet",
            verb: "Create",
            benchmark: 1,
            more_or_less: 1,
            unit: "bets",
            period: 1,
            date_start: new Date().toISOString().substr(0, 10),
            date_end: new Date(new Date().getTime() + 24 * 60 * 60 * 1000).toISOString().substr(0, 10),
            // mulligan: 0,
            // mulliganPeriod: 1,
            time: '2359',

        },
        h: {
            title: false,
            verb: false,
            benchmark: false,
            more_or_less: false,
            unit: false,
            period: false,
            date_start: false,
            date_end: false,
            // mulligan: false,
            // mulliganPeriod: false,
            time: false,
        },
        returnedBet: {},
        periodSelectVals: [{id:1,name:"a week"},{id:2,name:"twice a week"},{id:3,name:"three days a week"},
        {id:4,name:"four days a week"},{id:5,name:"five days a week"},{id:6,name:"six days a week"},
        {id:7,name:"everyday"},{id:8,name:"biweekly"},{id:9,name:"once a month"},
        
        ],
        lessOrMoreSelectVals: [{id:1,name:"or more"},{id:0,name:"exactly"},{id:-1,name:"or less"}],
        menuDateStart: null,
        menuDateEnd: null,
        // dateSelectValues: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
    }),
    computed: {

        endDateMin () { 
            let date = new Date(Date.parse(this.bet.date_start));
            
            date.setDate(date.getDate() + 1)
            return date.toISOString().substr(0, 10)
        },
        globalUser () {
            return {
                user: this.$store.getters.globalUser,
            }
        },
    },
    methods: {
    loginSuccess: function(value) {
        if (value) {
            this.loginDialog = false
            this.validate()
        }
    },
    open: function(){
      this.$store.dispatch('saveSelectedIdAction', this.bet.id)
      this.$store.dispatch('setSortAction', 'newest')
      this.$store.dispatch('setPageAction', 1)
      this.$store.dispatch('setRouteAction', 'users/followed_bets')
      this.$store.dispatch('deleteSelectedIndexAction')
      this.$router.push({path: '/home'})
    },
    hVerb: function(){
        this.h.verb = !this.h.verb;   
    },
    async validate() {
        if (this.$refs.user.validate()) {

        if (!this.globalUser.user) {
            this.loginDialog = true
            return
        }
        const self = this
        let json_data = {'bet': {
                title: this.bet.title,
                verb: this.bet.verb,
                benchmark: this.bet.benchmark,
                more_or_less: this.bet. more_or_less,
                unit: this.bet.unit,
                period: this.bet.period,
                date_start: this.bet.date_start,
                date_end: this.bet.date_end,
                // allowed_mulligans: this.bet.mulligan,  
                // mulliganPeriod: this.bet.mulliganPeriod, 
                time_of_day: this.bet.time,  
                } 
            }
        // console.log("Params: ")
        console.log(JSON.stringify(json_data))
        this.axios.post("/bets", json_data)
            .then(function (response) {
                console.log(response.data);
                self.returnedBet = response.data;
                self.success = true;
                // console.log("sall good");
                //self.$store.dispatch('saveGlobalUserAction', response.data)
                // self.$router.push({ path: '/activationPage' })
            })
            .catch(function (error) {
                // console.log("Dis da error: ");
                // console.log(error.error);
                console.log('Error', error.message);
                console.log(error.response.data);
                // console.log(this.params)
            });
        }
    },
    reset() {
        this.$refs.session.reset()
    },
    resetValidation() {
        this.$refs.session.resetValidation()
    },
},
    components: {
        login: loginOverlay,

    }
  }
</script>

<style>
.glow {
    color: orange ;
    
}
.inline {
    transition-timing-function: ease-in-out;
    transition: color .02s;
    display: inline-block;
    
}
.theme--light.v-input:not(.v-input--is-disabled) input{
  color:var(--v-secondary-base);;
}
.theme--light.v-select .v-select__selection--comma {
    color:var(--v-secondary-base);;
}
.theme--light.v-label {
    color:var(--v-secondary-base);;
}

.theme--light.v-icon {
    color:var(--v-secondary-base);;
}
.hover {
    cursor: pointer;
}
</style>