  <template v-if="globalUser.user && globalUser.user.name == this.user">
      <v-form ref="user">
          <v-container fluid>

              <v-row>

                  <v-col cols="12" sm="12">
                      <h3>How many {{ bet.unit.toLowerCase() }} did you {{bet.verb.toLowerCase()}} today?</h3>
                  </v-col>

                  <!-- <v-col cols="12" sm="3">
                      <v-text-field label="Progress" v-model="contract.progress" :suffix="bet.unit"
                          class="input-group--focused"></v-text-field>
                  </v-col> -->
                  <v-col cols="12" >
                      <v-text-field label="Progress for the day" :rules=progressRules v-model="contract.progressForDay" :suffix="bet.unit"
                          class="input-group--focused"></v-text-field>
                  </v-col>
                  <!-- <v-col cols="12" sm="3">

                      <v-text-field v-model="contract.mulligan" name="Mulligan used" label="mulligans"
                          class="input-group--focused" required>
                      </v-text-field>
                  </v-col> -->
              </v-row>
              <v-row>
                  <v-col sm="6" cols="12">
                      <v-btn color="accent1" outlined block @click.native.stop="validate">
                          Update progress
                      </v-btn>
                  </v-col>
                  <v-col sm="3" cols="12">
                      <v-dialog v-model="deleteContractDialog" width="500">
                          <template v-slot:activator="{ on, attrs }">
                              <v-btn color="red" v-bind="attrs" v-on="on" outlined block
                                  >
                                  End contract
                              </v-btn>
                          </template>
                          <v-card>
                              <v-card-title class="text-h5 primary">
                                  End Contract
                              </v-card-title>

                              <v-card-text>
                                  Once you end your contract with this bet all progressed made towards that bet will be deleted as well.
                              </v-card-text>

                              <v-divider></v-divider>

                              <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="accent1" text outlined @click.native.stop="deleteContractDialog = false">
                                      Cancel
                                  </v-btn>
                                  <v-btn color="accent1" text outlined @click.native.stop="deleteContract">
                                      End contract
                                  </v-btn>
                              </v-card-actions>
                          </v-card>
                      </v-dialog>
                  </v-col>
                  <!-- <v-col sm="3" cols="12">
                      <v-dialog v-model="deleteBetDialog" width="500">
                          <template v-slot:activator="{ on, attrs }">
                              <v-btn color="red" v-bind="attrs" v-on="on" outlined block
                                  >
                                  Delete bet
                              </v-btn>
                          </template>
                          <v-card>
                              <v-card-title class="text-h5 primary">
                                  Delete bet
                              </v-card-title>

                              <v-card-text>
                                  Once this bet is deleted, all contracts associated with it, including those of other users, will also be deleted.
                              </v-card-text>

                              <v-divider></v-divider>

                              <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="accent1" text outlined @click.native.stop="deleteBetDialog = false">
                                      Cancel
                                  </v-btn>
                                  <v-btn color="accent1" text outlined @click.native.stop="deleteBet">
                                      Delete bet
                                  </v-btn>
                              </v-card-actions>
                          </v-card>
                      </v-dialog>
                  </v-col> -->

              </v-row>



          </v-container>
      </v-form>

  </template>
   <script>
  export default {
    props: [
        'bet',
        'user'
    ],
    data: () => ({
        deleteContractDialog: false,
        progressRules: [
            v => Number.isInteger(Number(v)) || "The value must be an integer number",
            v => Number(v) > -1000 || 'Progress value must be between -1000 and 1000',
            v => Number(v) < 1000 || 'Progress value must be between -1000 and 1000',
        ],
        // deleteBetDialog: false,
        contract: {
            // progress: 0,
            progressForDay: 0,
            // mulligan: 0,
            sun: false,
            mon: false,
            tue: false,
            wed: false,
            thu: false,
            fri: false,
            sat: false,
        },
        // fetchedContract: {
        //     // progress: 0,
        //     // mulligan: 0,
        //     sun: false,
        //     mon: false,
        //     tue: false,
        //     wed: false,
        //     thu: false,
        //     fri: false,
        //     sat: false,
        // },
        schedule: [],
        skill: 23,
        dateSelectValues: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
    }),
    computed: {

        params () {
            return {
                contract: {
                //   progress: this.contract.progress,
                  progress_for_day: this.contract.progressForDay,
                //   mulligan: this.contract.mulligan,
                  // followed_bet_id: this.bet.id 
                //   schedule: this.scheduleToBitString(),
                    // sun: this.contract.sun,
                    // mon: this.contract.mon,
                    // tue: this.contract.tue,
                    // wed: this.contract.wed,
                    // thu: this.contract.thu,
                    // fri: this.contract.fri,
                    // sat: this.contract.sat,
                },
                followed_bet_id: this.bet.id,
                id: this.bet.id
            }
        },
        // virtualContract () {
        //     return {
        //         progress: this.fetchedContract.progress,
        //         mulligan: this.fetchedContract.mulligan,
        //         percentProgress: this.bet. more_or_less ? this.fetchedContract.progress / this.bet.benchmark * 100 : this.bet.benchmark / this.fetchedContract.progress * 100,
        //         percentMulligan:this.fetchedContract.mulligan / this.bet.allowed_mulligans * 100,
        //     }
        // },
    },
    methods: {

        // fetchContract() {
        //     // if (this.$refs.user.validate()) {
        //     console.log("Params Y: ")
        //     console.log(this.params)
        //     const self = this
        //     this.axios.post("contracts/show", this.params)
        //         .then(function (response) {
        //             console.log(response.data);
        //             self.fetchedContract.progress = response.data.progress
        //             // self.fetchedContract.mulligan = response.data.mulligan
        //             self.fetchedContract.sun = response.data.sun
        //             self.fetchedContract.mon = response.data.mon
        //             self.fetchedContract.tue = response.data.tue
        //             self.fetchedContract.wed = response.data.wed
        //             self.fetchedContract.thu = response.data.thu
        //             self.fetchedContract.fri = response.data.fri
        //             self.fetchedContract.sat = response.data.sat

        //         })
        //         .catch(function (error) {
        //             console.log('Error', error.message);

        //         });
        //     // }
        // },        
        validate() {
            console.log("Params X: ")
            console.log(this.params)
            const self = this
            this.axios.post("contracts/edit", this.params)
                .then(function (response) {
                    console.log(response.data);
                    // self.fetchedContract.progress = response.data.progress
                    // self.fetchedContract.mulligan = response.data.mulligan
                    // console.log("emit should...")
                    // // self.$emit('updated', self.fetchedContract)
                    // console.log("be sending...")
                    self.$store.dispatch('setPageAction', 1)
                    self.$store.dispatch('saveBetAction', response.data)

                })
                .catch(function (error) {
                    console.log('Error', error.message);

                });
        },
        // deleteBet() {
        //     console.log("Params X: ")
        //     console.log(this.params)
        //     this.deleteBetDialog = false
        //     // const self = this
        //     this.axios.delete("bets", this.params)
        //         .then(function (response) {
        //             console.log(response.data);

        //         })
        //         .catch(function (error) {
        //             console.log('Error', error.message);

        //         });
        // },
        deleteContract() {
            console.log("deleteContract: ")
            console.log(this.params)
            this.deleteContractDialog = false
            const self = this
            this.axios.post("unfollowBet", this.params)
                .then(function (response) {
                    console.log(response.data);
                    self.$store.dispatch('deleteBetAction', self.bet)

                })
                .catch(function (error) {
                    console.log('Error', error.message);

                });
        },
    },
    created() {
        console.log("created contract form..")
        this.fetchContract()
    }
  }
</script>