<template>
    <v-col d-flex class="secondary--text">
        <div justify-center>
            <div class="text-h4 mb-6 text-center ">
                Bets
            </div>
            <v-divider></v-divider>
            <bets :bets="bets" color="neutral"></bets>
            <v-btn
            v-scroll="onScroll"
            v-show="scrolled"
            fab
            dark
            fixed
            bottom
            color="primary"
            @click="toTop"
          >
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn>
        </div>
    </v-col>
</template>

<script>
import bets from "./index.vue";
import debounce from 'lodash/debounce';
  export default {
    data: function () {
        return {
            bets: [],
            scrolled: false,
        }
    },
    computed: {
        params () {
            return {
                page: 1     
            }
        },
    },
    methods: {
        toTop() {
            this.$vuetify.goTo(0)
        },
        handleScroll: function() {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                this.loadNextPage()
                this.scrolled = true;
            }
        },
        loadNextPage() {
            this.loadPage();
            // this.params.page++;
        },
        loadPage() {
            let self = this;
            this.axios.post("bets/index", this.params)
                .then(function (response) {
                    console.log(response.data);
                    self.bets.push.apply(self.bets, response.data);
                    self.params.page++;


                })
                .catch(function (error) {
                    console.log('Error', error.message);
                });  
        }
    },
    created() {
        this.loadPage()
        // this.params.page++;
        this.handleDebouncedScroll = debounce(this.handleScroll, 100);
        window.addEventListener('scroll', this.handleDebouncedScroll);

    },
    beforeDestroy() {
        window.removeEventListener('scroll', this.handleDebouncedScroll);
    },
    components: {
        bets: bets,
    }
  }
</script>