<template>
    <v-col >
        <v-card flat outlined>
              <v-expansion-panels accordian>

            <!-- <v-list three-line class="neutral"> -->
                <!--<bet v-for="bet in bets" :key="bet.id" :bet="bet" :user="user" @click="">-->
                <bet v-for="bet in bets" :key="bet.id" :bet="bet" :user="user" >
                </bet>
              </v-expansion-panels>

            <!-- </v-list> -->
        </v-card>
    </v-col>
</template>

<script>

import bet from "./bet.vue";

export default {
    props: [
        'bets',
        'user',
    ],
    data: () => ({


    }),
    components: {
        bet: bet,
    }
    
}
</script>
<style>

</style>