<template>
    <div id="betWrapper">
    <bet :bet="JSON.parse(this.$route.query.bet)" :user="this.$route.query.user"></bet>

    </div>
</template>

<script>
import bet from "./show.vue"

export default {
    data: () => ({


    }),

    components: {
        bet: bet
    }
    
}
</script>