<template>
  <v-card flat class="neutral">
    <v-row>
      <v-col cols="12" sm="9">
        <v-card outlined >

          <v-card-title class="accent2--text ">
            {{ bet.title }} betID: {{ bet.id }}
          </v-card-title>
          <!--<v-card-subtitle>{{ bet.user.name }}</v-card-subtitle>-->
          <v-card-text>
            {{ bet.verb }} {{bet.benchmark}} <template v-if="bet. more_or_less == 1"> or more </template>
            <template v-else-if="bet. more_or_less == -1"> or less </template>
            {{ bet.unit }}
            by {{bet.date_end  | formatDate}} 
            <br>
            <p class="grey--text">Start Date: {{ bet.date_start  | formatDate}} by {{ user }}</p>
            <br>
            <template v-show="globalUser.id && following">
            <div class="inline">Days of the week:
                <v-icon :class="{ 'accent1--text': sun }">mdi-alpha-s-circle</v-icon>
                <v-icon :class="{ 'accent1--text': mon }">mdi-alpha-m-circle</v-icon>
                <v-icon :class="{ 'accent1--text': tue }">mdi-alpha-t-circle</v-icon>
                <v-icon :class="{ 'accent1--text': wed }">mdi-alpha-w-circle</v-icon>
                <v-icon :class="{ 'accent1--text': thu }">mdi-alpha-t-circle</v-icon>
                <v-icon :class="{ 'accent1--text': fri }">mdi-alpha-f-circle</v-icon>
                <v-icon :class="{ 'accent1--text': sat }">mdi-alpha-s-circle</v-icon>
            </div>
            </template>
      
       
          </v-card-text>

      </v-card>
    </v-col>
    <v-col cols="12" sm="3">
      <v-container fill-height fluid>
        <v-row align="center"
            justify="left">
            <v-col>
              <template v-if="following">
                <v-btn block @click="unfollow">Unfollow Bet</v-btn>
              </template>
              <template v-else>
                <v-btn block @click="follow">Follow Bet</v-btn>
              </template>
            </v-col>
        </v-row>
      </v-container>
    </v-col>
  </v-row>
  <v-row>
    <template v-if="globalUser.id && following">
      <contract :bet="bet" :user="user" @updated="updatedContract"></contract>
    </template>
  </v-row>
</v-card>
</template>
<script>
import contract from "./contract.vue"


  export default {
    props: [
        'bet',
        'user'
    ],
    data: () => ({
      following: false,
    }),
    computed: {
        sun: function() {
            if(this.bet.sun == 'true') return true
            return false
        },
        mon: function() {
            if(this.bet.mon == 'true') return true
            return false
        },
        tue: function() {
            if(this.bet.tue == 'true') return true
            return false
        },
        wed () {
            if(this.bet.wed == 'true') return true
            return false
        },
        thu: function() {
            if(this.bet.thu == 'true') return true
            return false
        },
        fri: function() {
            if(this.bet.fri == 'true') return true
            return false
        },
        sat: function() {
            if(this.bet.sat == 'true') return true
            return false
        },
        
        globalUser () {
            return {
                id: this.$store.getters.id,
            }

        },
        params () {
          return {
              id: this.bet.id
          }
        },
    },
    components: {
        contract: contract
    },
    methods: {
      updatedContract(contract) {
        console.log("triggered the emit event")
        console.log("wed: " + contract.wed)
          this.bet.sun = (contract.sun == 'true') ? true : false
          this.bet.mon = (contract.mon == 'true') ? true : false
          this.bet.tue = (contract.tue == 'true') ? true : false
          this.bet.wed = (contract.wed == 'true') ? true : false
          this.bet.thu = (contract.thu == 'true') ? true : false
          this.bet.fri = (contract.fri == 'true') ? true : false
          this.bet.sat = (contract.sat == 'true') ? true : false
          this.$forceUpdate()
      },
      // mon: function() {
        //     let mask = '0100000'
        //     if( (parseInt(mask, 2) & parseInt(this.scheduleToBitString(), 2)).toString(2) == '0') return false
        //     return true
        // },
      // this is just a template request if you want to send for something bet related 
      follow() {this.APIcall("followBet")},
      unfollow() {this.APIcall("unfollowBet")},
      checkIfFollowing() {this.APIcall("checkIfFollowingBet")},
      APIcall(route) {
          // console.log("Params: ")
          // console.log(this.params)
          const self = this
          this.axios.post(route, this.params)
              //different outcomes
              .then(function (response) {
                  // console.log(response.data);
                  if(route == "checkIfFollowingBet") {
                    self.following = response.data;
                  }
                  else {
                    // console.log(route);
                    self.checkIfFollowing();
                  }
                  
                  // console.log("sall good");
                  //self.$store.dispatch('saveGlobalUserAction', response.data)
                  // self.$router.push({ path: '/activationPage' })
              })
              .catch(function (error) {
                  // console.log("Dis da error: ");
                  // console.log(error.error);
                  console.log('Error', error.message);
                  // console.log(error.response.data);
                  // console.log(this.params)
              });
      }
    },
    created() {
      this.checkIfFollowing(this.params)
    },
  }
</script>